* {
	font-family: Verdana;
}

.header {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	padding: 1px;
}

.footer {
	background-color: black;
	color: white;
	width: 100%;
	padding: 1px;
	margin-top: 20px;
}


#container_index {
	width: 1170px;
	height: 900px;
	border: 5px solid black;
	box-shadow: 5px 10px #888888;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

#container_quiz {
	width: 1170px;
	display: block;
	border: 5px solid black;
	box-shadow: 5px 10px #888888;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

.character {
	margin: 5px;
	width: 120px;
	float: left;
	text-align: center;
	box-shadow: 5px 5px #888888;
}

img:hover{
	cursor: pointer;
}

.mode {
	text-align: center;
	white-space: nowrap;
}

.inactive {
	display: inline-block;
	font-weight: normal;
}

.active {
	display: inline-block;
}

a.footer:link {
	color: blue;
}

a.footer:visited {
	color: blue;
}

a.footer:hover {
	color: blue;
	text-decoration: underline;
}

a.footer:active {
	color: blue;
	text-decoration: underline;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}

#questions_container {
	display: none;
}

.question {
	display: none;
}

/*Button styling from w3-schools*/
.button {
	border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;display:block;width:100%;background-color:black;color:#fff;
}

.button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

#results {
	width: 50%;
	margin: auto;
	text-align: center;
}

#response {
	text-align: center;
}

#login_progress {
	width: 50%;
	margin: auto;
	text-align: center;
}

col:nth-child(even) {
	width: 150px;
}